* {box-sizing: border-box}
body {font-family: Verdana, sans-serif;}
.mySlides {display:none ; position:relative;  left: 40%; } 





/* Slideshow container*/
slideshow-container{
    max-width: 100px;
    position: relative;
    margin: auto;
}


/* 上下頁*/
.prev, .next {
    cursor: pointer;  /* 改變滑鼠游標的形狀*/
    position:absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color:blue;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* 定位 "下一张" 按钮靠右 */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.next:hover , .prer:hover{
    background-color:  rgba(0,0,0,0.8);
}


/* text Title*/
.text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* 數字文本*/
.numberlist{
  
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* dot */
.dot{
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active , .dot:hover{
    background-color: #717177;
}

/* 淡出動畫*/
.fade
{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s ;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to{opacity: 1}
}